<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body >
 <div class="container-fluid px-0 vh-100 ">
    <div class="row h-100">
<div class="card col-md-6">
    <h1 class="d-flex justify-content-center align-items-center">Welcome Back!</h1>
    
        <img class="img-fluid" src="https://res.cloudinary.com/dd8dpaxcm/image/upload/v1678579680/meditrack/logo_adcvuc.png" alt="meditrack">
    
   <button class="btn btn-primary btn-lg mb-3"> <a href="/login" style="display:flex; justify-content: center; align-items: center; color:white; "> Login</a></button>
   <button class="btn btn-outline-secondary btn-lg "> <a style="display:flex; justify-content: center; align-items: center; color:black;" href="/signup"> Sign up</a> </button>
</div>
<div class=" col-md-6 d-flex justify-content-center align-items-center" style="background-image: url('https://res.cloudinary.com/dd8dpaxcm/image/upload/v1681174847/6166980_17545_blrbqj.jpg');">
    <div class="text-center">
        <img class="img-fluid" src="https://res.cloudinary.com/dd8dpaxcm/image/upload/v1681431723/pexels-kampus-production-7551668_trvyoy.jpg" alt="medication care">
    <h1 class="h5 d-flex justify-content-center align-center" style="color:whitesmoke;">Medi Track is a medication tracking app with a timer to help you manage your medication schedule efficiently.
         To use Medi Track, click on the login or sign up button to create an account, add your medications, and set up reminders.
         Please do not enter sensitive medical or personal information this app was made for portfilio experience only by making and account you agree willingly to enter your info.</h1>
    </div>
 </div>
 </div>
 </div>
</body>
</html>
